<input [(ngModel)]="username" placeholder="username" *ngIf="!hideUsername" />
<button (click)="setUsername()" *ngIf="!hideUsername">Set Username</button>
<ul class="collection" *ngIf="hideUsername && !hideActiveUsers">
  Active Users :
  <li
    class="collection-item active"
    *ngFor="let user of activeUsers"
    style="cursor: pointer;"
    (click)="initiateCall(user)"
  >
    {{ user }}
  </li>
</ul>

<div class="call" *ngIf="hideActiveUsers">
  <div id="remote-media"></div>
  <div id="local-media" *ngIf="!callingStatus"></div>
  <div class="controls">
    <div class="icon">
      <i class="material-icons small">mic_off</i>
      <!-- <i class="material-icons">mic_none</i> -->
    </div>
    <div class="icon">
      <i class="material-icons" *ngIf="outgoing">call_end</i>
      <i class="material-icons" *ngIf="incoming" (click)="acceptCall()">call</i>
    </div>
    <div class="icon">
      <i class="material-icons">camera</i>
    </div>
  </div>
  <div class="controls">
    <div *ngIf="callingStatus">
      <h3 *ngIf="outgoing">Calling {{user}}....</h3>
      <h3 *ngIf="incoming">Incoming {{user}}....</h3>
    </div>
  </div>
</div>
